requests
python-telegram-bot
schedule
flask
boto3
python-amazon-paapi
telegram
python-amazon-simple-product-api
paapi5-python-sdk
python-amazon-paapi3
git+https://github.com/doprdele/paapi5-python-sdk.git